NODE_ENV=development
PORT=3000
APP_PREFIX=api

JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=7d

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=crm_user
DB_PASSWORD=crm_pass
DB_NAME=crmine
DB_SYNC=true
DB_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

WECHAT_APPID=wx_your_appid
WECHAT_APPSECRET=wx_your_secret


ENABLE_HTTPS=true
HTTPS_CERT_PATH=/app/certs/fullchain.pem
HTTPS_KEY_PATH=/app/certs/privkey.pem
